@import "@/styles/media";

.button {
  outline: none;
  border: solid 1px transparent;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 12px;
  font-size: var(--font-size-text-sm);

  @include mq(md) {
    font-size: var(--font-size-text-md);
  }
}