.selectWrapper {
  position: relative;
}

.option {
  border-radius: 8px;
  padding: 4px;
  transition: background-color 0.2s;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  color: var(--on-primary);
  font-size: var(--font-size-text-md);

  &:hover {
    background-color: var(--primary-variant);
  }
}

.optionSelected {
  background-color: var(--primary-variant);
}