.container {
  background-color: var(--primary);
  overflow: hidden;
  position: relative;
  max-width: 800px;
  min-width: 100%;
}

.img {
  position: absolute;
  inset: 0;
}

.dummyCard {
  background-color: var(--primary);
  padding: 8px;
  color: var(--on-primary)
}

.descriptions {
  padding: 0 8px;
}

.title {
  font-size: 26px;
}